body,
html {
  margin: 0;
  padding: 0;
}

.board-container {
  display: flex;
  perspective: 1000px;
}

.board {
  margin: 30px auto;
  display: inline-block;
  transform: rotateX(35deg);
}

.tiles {
  display: grid;
}

.tile-blank {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

.block-container {
	perspective: 800px;
	perspective-origin: 50% 10px;
}

.block {
  position: relative;
	width: 20px;
	transform-style: preserve-3d;
}

.block div {
  position: absolute;
	width: 20px;
  height: 20px;
  background: rgb(0, 0, 0, 0.15);
  box-shadow: 0px 0px 1px 2px rgba(0,0,0, 0.25);
}

.back {
	transform: translateZ(-10px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(10px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-10px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-10px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(10px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(10px);
}

.tile--head {
  background: blue;
}

.tile--body {
  background: lightskyblue;
}

.tile--food {
  background: red;
}
